
fieldset {
    border: none;
    margin-top: 1rem;
}
legend {
    font-weight: 600;
    margin-bottom: .5rem;
}
legend::after {
    display: block;
    content: "";
    height: 5px;
    width: 20px;
    background-color: var(--color-lightPurple);
    /* border-radius: 0 10px 10px 0; */
    animation: movingBall 2.5s infinite;
}
.inputs {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2rem 0;
}
inputs:disabled {
    background-color: dimgray;
}
.inputs input{
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-dark_gray);
    padding: .25rem 0 0.25rem .5rem;
}
.inputs label {
    font-weight: 600;
    position: absolute;
    top: -.1rem;
    z-index: 1;
    cursor: pointer;
    transition: all 300ms;
}
.inputs input:not(:placeholder-shown) + label, .inputs input:focus + label {
    top: -1.5rem;
    color: var(--color-lightPurple);
}
.inputs input:focus {
    border-bottom: 2px solid var(--color-lightPurple);
}
.label{
    color: var(--color-lightPurple);
    font-weight: 600;
}

input[type='submit'] {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    height: 2rem;
    width: 50%;
    letter-spacing: 2px;
    background-color: var(--color-lightPurple);
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
input[type='submit']:hover {
    background-color: rgb(128,128,243);
}

.error_msg {
    font-size: 0.8rem;
    color: red;
}